.navbar .brand {
  padding: 0px 20px 0px;
}

.field, .field-item {
  margin: 0 0 10px;
}
.field-name-field-common-hash .form-type-textfield input {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: whiteSmoke;
  border: 1px solid #E3E3E3;
  padding: 9px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width:100%;
}
.description {
  font-size:90%;
  color: #999;
}
